$black: #000;
$white: #fff;
$gray: #333;
$red: #EC1D24;

$tablet-size: 834px;
$mobile-size: 393px;

$character-details-size: 960px;


$heart-size-lg: 24px;

$character-card-lg: 190px;
$character-card-md: 173px;
$character-card-sm: 173px;